:root{
    --white: #FFF;
    --black: #000;
    --red: #FF4911;
    --green: #2FFF2F;
    --blue: #3300FF;
    --sky: #cfe2ff/*#7DF9FF*/;
    --pink: #FF00F5;
    --yellow: #FFFF00;
    --orange: #FFC700;
}

.red{ color: var(--red); }
.green{ color: var(--green); }
.blue{ color: var(--blue); }
.sky{ color: var(--sky); }
.pink{ color: var(--pink); }
.yellow{ color: var(--yellow); }

/*.bg-red{ background-color: var(--red); }
.bg-green{ background-color: var(--green); }
.bg-blue{ background-color: var(--blue); color: var(--white); }
.bg-sky{ background-color: var(--sky); }
.bg-pink{ background-color: var(--pink); }
.bg-yellow{ background-color: var(--yellow); }*/

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

    font-family: 'Public Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 900;
    letter-spacing: 0.05rem;
    margin: 0.5rem;
}

h1{ font-size: 6rem; }
h2{ font-size: 5rem; }
h3{ font-size: 4rem; }
h4{ font-size: 3rem; }
h5{ font-size: 2rem; }
h6{ font-size: 1.5rem; }

main{
    padding: 1rem 2rem;
    max-width: 900px;
}

footer{
    text-align: center;
    padding: 1rem 0;
}

@media(max-width: 400px){
    main{
        padding: 1rem 0.5rem;
    }
}

o{
    display: inline;
    position: relative;
    top: -0.17em;
}

a{
    text-decoration: none;
    color: inherit;
}

input, textarea{
    display: block;
    width: 80%;

    border: solid 3px var(--black);
    box-shadow: 6px 6px var(--black);

    font-size: 1.75rem;
    padding: 0.5rem 0.75rem;

    margin: 0 auto;
    margin-bottom: 2rem;

}

input[type="submit"]{
    box-shadow: 0 6px var(--black);
}

label{
    font-size: 1.75rem;
    margin-left: 8%;
}

textarea{
    font-size: 1.25rem;
    min-height: 10rem;
}

.tagline{
    text-align: right;
}

.social-media{
    display: flex;
    align-items: center;
    margin: 50px 25px;
    font-size: 3rem;
}

.social-media .icon{
    width: 10%;
    min-width: 50px;
    margin-right: 5%;
}

.arrow{
    position: relative;
    top: 0.25rem;
    margin-left: 1rem;
    transition: all 0.2s ease-out;
}

.social-media .arrow{
    width: 30px;
}

.social-media:hover .arrow{
    margin-left: 2.5rem;
}

.block-title{
    margin: 5rem 3rem;
    margin-bottom: 3rem;
}

.block-title div{
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    border: solid 3px #000;
    box-shadow: 4px 4px #000;
    margin: 0.6rem 0.6rem;
}

.block-title div:nth-of-type(1){ transform: rotate(5deg); }  /* P */
.block-title div:nth-of-type(2){ transform: rotate(7deg); }  /* R */
.block-title div:nth-of-type(3){ transform: rotate(-5deg); } /* O */
.block-title div:nth-of-type(4){ transform: rotate(3deg); }  /* J */
.block-title div:nth-of-type(5){ transform: rotate(8deg); }  /* E */
.block-title div:nth-of-type(6){ transform: rotate(-2deg); } /* C */
.block-title div:nth-of-type(7){ transform: rotate(-7deg); } /* T */
.block-title div:nth-of-type(8){ transform: rotate(5deg); }  /* S */

#projects{
    list-style: none;
    padding: 0;
    padding-bottom: 3rem;

    border-bottom: dotted 3px var(--black);
}

#projects li{
    max-width: 700px;
    margin: 2.5rem 0;
    padding: 0 25px;

    margin-left: 8rem;
}

#projects a:hover .arrow{
    margin-left: 1.5rem;
}

#projects h5{
    margin: 0;
    padding: 1rem 0 0.5rem 0.5rem;
    font-size: 1.5rem;
}

#projects span{
    margin-left: 0.5rem;
    white-space: nowrap;
}

#projects p{
    font-size: 1.25rem;
    margin-left: 2rem;
}

#contact-form{
    margin: 2rem 0;
}

.year{
    position: absolute;
    left: 2rem;
    font-size: 3rem;
}

.year:after{
    content: " ";
    display: block;
    width: 7rem;
    height: 1.75rem;
    position: relative;
    top: -1.75rem;
    left: 0.2rem;
    z-index: -1;

    box-shadow: 4px 4px var(--black);
}

.year-red:after{ background-color: var(--red); }
.year-green:after{ background-color: var(--green); }
.year-blue:after{ background-color: var(--blue); color: var(--white); }
.year-sky:after{ background-color: var(--sky); }
.year-pink:after{ background-color: var(--pink); }
.year-yellow:after{ background-color: var(--yellow); }

@media(max-width: 500px){
    .year{
        font-size: 2rem;
        left: 1rem;
    }

    .year:after{
        width: 4rem;
        height: 1.25rem;
        top: -1rem;
    }

    #projects li{
        margin-left: 4rem;
    }
}